/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = rgb(24, 103, 192)
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = lighten($accentColor, 30%)
$badgeWarningColor = darken(#A89C94FF, 20%)
$badgeErrorColor = lighten(#D9514EFF, 20%)
$containerBg = #e6ecf7
$mark = #fbea62ba

//
$readingProgressColor = $badgeErrorColor
